# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# Compiled class files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Cucumber reports
build/reports/cucumber/
build/reports/cucumber-advanced/

# Other
*.swp
*.swo 