# Ignore everything
/*

# But not these files...
!.gitignore
!build.gradle
!gradlew
!gradlew.bat
!README.md
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!src/

# Ignore build outputs, IDE, and metadata
.gradle/
bin/
build/
.vscode/
.idea/
.metadata/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
*.class
*.log
.DS_Store
Thumbs.db
*.swp
*.swo 